header{
  height: 99px;
  border: 1px dashed red;
  background-color: #131921;
}
.header-modal{
  max-width: 365px !important;
  transition: all 0.3s ease-out !important;
  top: -30px !important;
  border-radius: 0px !important;
}
.mhul li a{
  background: #fff;
  color: #000;
  padding-left: 30px;
}
.mhul li a:hover{
  background: rgb(174, 173, 173);
  color: #000;
}
.l934{
 left: -934px !important;
}
.l433{
  left: -460px !important;
}
.a_header_top{
  height: 60px;
  border: 1px dashed green;
  z-index: 1000;
  background-color: #000;

}
.a_header_top > button:hover{
  border: 1px solid #fff;
}
.a_header_bottom{
  height: 39px;
  border: 1px dashed purple;
}
.a_header_bottom a{
  /* TRBL */
  padding: 5px 8px 5px 8px;
  font-size: 14px;
  color: #fff;
  margin-top: 3px;
}
.a_header_bottom a:hover{
  /* TRBL */
 outline: 1px solid #fff;
 color: #fff;
}
.a_header_bottom a:active,.a_header_bottom a:focus{
  color: #fff;
}
.a_main{
  height: 4818px;
  border: 1px dashed blue;
  background: #eaeded;
}
.a_main1{
  height: 600px;
  border: 2px dashed orange;
}
.a_main_bottom{
  height: 4564px;
  border: 2px dashed #000;
  top: 253px !important;
  left: 20px;
  width: 97%;
}
.a_main_bottom_1{
  border: 1px dashed blue;
}
.a_main_bottom_1 > div{
  height: 423px;
  border: 1px dashed green;
}
.a_main_bottom_2{
  border: 1px dashed purple;
}
.a_main_bottom_2 > div{
  height: 428px;
  border: 1px dashed violet;
}
.a_main_bottom_3{
 height: 367px;
 background-color: green; 
}
.imgCont{
  height: 300px;
  border: 1px dashed red;
}
.imgCont > div{
  border: 1px dashed blue;
}
#carouselExample1 .s_cc{
  background: #fff;
  width: 3%;
  height: 30%;
  top: 145px;
}

footer{
  height: 227px;
  border: 1px dashed green;
  background: #131921;
}